.main-container {
    margin: 0;
    background-color: #10222E;
    height: 100vh;
    box-sizing: border-box;    
    
}

.error-page-header {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.error-body {
    display: flex;
    justify-content: center;
    color:#FAF2CE;
    margin-top: 7rem;
}